<div class="container my-5 d-flex shadow-lg rounded bg-white p-4">
    <div class="w-25 d-flex flex-column">
        <img src="{{libro.image}}" alt="{{libro.title}}" class="img-fluid rounded shadow">
        <div class="text-center mb-2">
            <ng-container *ngFor="let i of [1,2,3,4,5]">
                <i class="bi fs-4 mx-1"
                     [class.bi-star-fill]="i<=(libro.stars ?? 0)"
                     [class.bi-star]="i>(libro.stars ?? 0)" (click)="libro.stars=i;updateBook()"></i>
            </ng-container>
        </div>
        <select [(ngModel)]="libro.readingState" (change)="updateBook()">
            <option *ngFor="let stato of statiLettura" value="{{stato}}">{{stato}}</option>
        </select>
    </div>
    <div class="w-75 ps-5 d-flex flex-column justify-content-center">
        <h2 class="fw-bold mb-3 text-primary text-center">{{libro.title}}</h2>
        <p class="mb-2 text-center"><span class="fw-semibold text-secondary">Autori:</span> {{libro.authors.join(" - ")}}</p>
        <p class="mb-2 text-center"><span class="fw-semibold text-secondary">Categorie:</span> {{libro.categories.join(" - ")}}</p>
        <p class="mb-4 text-center text-muted">{{libro.description}}</p>
        <button class="btn btn-danger" (click)="deleteBook()">Cancella</button>
    </div>
</div>
