<!-- Filtri e Toggle View -->
<div class="container my-5">
  <div class="d-flex justify-content-end align-items-center gap-3 flex-wrap">
    <select class="form-select w-auto" [(ngModel)]="filtroAutore" (change)="loadData()">
      <option value="-">Tutti gli autori</option>
      <option *ngFor="let autore of autori" [value]="autore">{{ autore }}</option>
    </select>

    <select class="form-select w-auto" [(ngModel)]="filtroCategorie" (change)="loadData()">
      <option value="-">Tutte le categorie</option>
      <option *ngFor="let categoria of categorie" [value]="categoria">{{ categoria }}</option>
    </select>

    <button class="btn btn-outline-primary d-flex align-items-center" (click)="setCardView(!cardView)">
      <i class="bi me-1" [class.bi-table]="cardView" [class.bi-border-all]="!cardView"></i>
      <span class="d-none d-sm-inline">{{ cardView ? 'Tabella' : 'Griglia' }}</span>
    </button>
  </div>
</div>

<div *ngIf="cardView" class="container">
  <div class="row g-3">
    <ng-container *ngIf="libreria.length > 0">
      <ng-container *ngFor="let libro of libreria">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <app-bookcard [libro]="libro"></app-bookcard>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div *ngIf="!cardView && libreria.length > 0" class="container">
  <table class="table table-striped table-hover">
    <thead class="table-light">
      <tr>
        <th scope="col">Titolo</th>
        <th scope="col">Autori</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libreria">
        <td><a routerLink="libri/{{ libro.id }}">{{ libro.title }}</a></td>
        <td>{{ libro.authors.join(" - ") }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-container *ngIf="libreria.length === 0">
  <p class="text-center text-muted mt-4">Nessun libro presente</p>
</ng-container>
