<div class="container d-flex justify-content-end my-5">
    <!--<i class="bi bi-table mx-3" [class.d-none]="!cardView" (click)="setCardView(false)"></i>
    <i class="bi bi-border-all" [class.d-none]="cardView" (click)="setCardView(true)"></i>-->
    
    <select [(ngModel)]="filtroAutore" (change)="loadData()">
        <option value="-">Tutti gli autori</option>
        <option *ngFor="let autore of autori" value="{{autore}}">{{autore}}</option>
    </select>

    <select [(ngModel)]="filtroCategorie" (change)="loadData()" class="mx-3">
        <option value="-">Tutte le categorie</option>
        <option *ngFor="let categoria of categorie" value="{{categoria}}">{{categoria}}</option>
    </select>

    <i class="bi" [class.bi-table]="cardView"
                  [class.bi-border-all]="!cardView"
                  (click)="setCardView(!cardView)"></i>
</div>

<div *ngIf="cardView" class="container d-flex justify-content-start flex-wrap">

    <ng-container *ngIf="libreria.length > 0;">
        <ng-container *ngFor="let libro of libreria">
            <app-bookcard [libro]="libro"></app-bookcard>
        </ng-container>
    </ng-container>
    
</div>

<div *ngIf="!cardView " class="container">
    <table class="table table-striped" *ngIf="libreria.length > 0;">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Autori</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let libro of libreria">
                <td><a routerLink="libri/{{libro.id}}">{{libro.title}}</a></td>
                <td>{{libro.authors.join(" - ")}}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-container *ngIf="libreria.length == 0;">
    <p class="text-center">Nessun libro presente</p>
</ng-container>
